adjustText,
beautifulsoup4,
datetime
easygui
futures3
lasio
python-libmagic
matplotlib
multiprocess
numpy
openpyxl
pandas
psutil
pycrs
pyproj
pyshp
python-dateutil
libmagic1; sys_platform == "linux" 
python-magic-bin; sys_platform == "win32"
requests
scipy
selenium
scikit-learn
sqlalchemy
tabula-py
textract
urllib3
wget
xlrd
